<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/checkoutFormStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="he1">
        <a href="#" class="logo"><i class="fa-solid fa-book"></i> BOOKLAND </a>

        <form action="" class="search-form">
          <input
            type="search"
            name=""
            placeholder="Search by Title, Author ..."
            id="search-box"
          />
          <label for="search-box" class="fa-solid fa-magnifying-glass"></label>
        </form>

        <div class="icons">
          <div id="login-btn" class="fa-regular fa-user"></div>
          <a href="/auth">Sign in / Register </a>
          <span>|</span>
          <a href="/panier" class="fa-regular fa-heart"></a>
          <a href="/panier">Wishlist </a>
          <span>|</span>
          <a href="/panier" class="fa-solid fa-cart-shopping"></a>
          <a href="/panier">Shopping Cart</a>
        </div>
      </div>

      <div class="he2">
        <nav class="navbar">
          <a href="#home">home</a>
          <a href="#featured">featured</a>
          <a href="#arrivals">arrivals</a>
          <a href="#reviews">reviews</a>
          <a href="#contact">contact</a>
        </nav>
      </div>
    </header>

    <center>
      <div class="home-content">
        <div class="mainn">
          <h2 class="title">PAYMENT DETAILS :</h2>
          <div class="item"></div>
          <div class="payment">
            <label class="method">
              <div class="card-logo">
                <img src="/images/visa_logo.png" />
                <img src="/images/mastercard_logo.png" />
              </div>

              <div class="radio1">
                <input type="radio" name="payment" />
                Pay with credit card
              </div>
            </label>

            <label class="method">
              <img class="d17logo" src="/images/d17.png" />
              <div class="radio2">
                <input type="radio" name="payment" />
                Pay with D17
              </div>
            </label>
          </div>

          <div class="input-fields">
            <div class="column-1">
              <label>First Name :</label>
              <input type="text" />
              <label>Last Name :</label>
              <input type="text" />
              <label>Address :</label>
              <input type="text" />
              <label>Phone Number :</label>
              <input type="text" />
            </div>
            <div class="column-2">
              <label>Card Number :</label>
              <input type="password" />
              <div class="CVCinput">
                <div>
                  <label>CVC :</label>
                  <input type="password" />
                </div>
              </div>
            </div>
          </div>
          <div class="buttons">
            <a href="/panier"
              ><button class="btn back-btn">
                <i class="fa-solid fa-arrow-left"></i> Back
              </button></a
            >
            <a href="#"><button class="btn confirm-btn">Confirm</button></a>
          </div>
        </div>
      </div>
    </center>

    <section class="contact" id="contact">
      <div class="logo">
        <a href="#" class="logo"><i class="fa-solid fa-book"></i> BOOKLAND </a>
      </div>
      <DIV class="links">
        <h1>Links</h1>
        <a href="#home">Home</a><br /><br />
        <a href="#featured">Featured</a><br /><br />
        <a href="#arrivals">Arrivals</a><br /><br />
        <a href="#reviews">Reviews</a>
      </DIV>
      <div class="cn">
        <h1>Contacts</h1>
        <br />
        <a href="#"> <i class="fa-solid fa-phone"> </i>+216 99 11 59 16</a
        ><br /><br />

        <a href="#"><i class="fa-solid fa-envelope"> </i>BOOKLAND@gmail.com</a>
        <br /><br />

        <a href="#"><i class="fa-solid fa-location-dot"></i> Sousse </a>
      </div>

      <div class="sm">
        <h1>Follow Us</h1>
        <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
        <a href="https://fr.linkedin.com/" class="fab fa-linkedin"></a><br />
        <a href="https://www.pinterest.fr/" class="fab fa-pinterest"></a>
        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
      </div>
    </section>
  </body>
</html>
