@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}
body {
  background: #f6f2f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: initial;
  margin: 0;
  color: #500e68;
  margin-top: 19px;
}
h4 {
  font-weight: initial;
  margin: 0;
  color: #500e68;
  margin-top: 20px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  margin-left: 10px;
}

.btn1 {
  border-radius: 20px;
  border: 1px solid #777777;
  margin-top: 25px;
  margin-left: 10px;
  color: #ffffff;
  margin-bottom: 13px;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: 0.5ms ease-in;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #b17cda, #b17cda);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 25px;
  border: 1.6px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  width: 50%;
  height: 9%;
  margin: 0 auto;
}

button.ghost:hover {
  background-color: #ffffff;
  color: #c98ff5;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  border: none;
  padding: 12px 15px;
  margin: 8px -1.5px;
  width: 105%;

  border-bottom: 1.5px solid #b1aeae;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}
.social-container a {
  border: 1px solid #c2bfbf;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  margin-bottom: 35px;
  box-shadow: 0 3px 3px rgba(138, 137, 137, 0.25),
    0 11px 11px rgba(148, 147, 147, 0.22);
  margin-top: 9px;
}

.overlay-container {
  background: url("https://i.pinimg.com/originals/f3/2e/5f/f32e5f959b822a506b026e072bc480bf.jpg");
  background-size: cover;
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.overlay #Layer {
  width: 100%;
  height: 100%;
  background-color: #6d61ab;
  opacity: 0.5;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}
.overlay-container .overlay-panel p {
  color: white;
  font-size: 19px;
}

.overlay {
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.input-icons i {
  position: absolute;
  margin-top: 19px;
  opacity: 0.19;
  margin-left: -1.6px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.icon {
  padding: 10px;
  min-width: 40px;
}

input {
  padding-left: 20px;
  padding-bottom: 10px;
}
